<div ng-controller="HomeCtrl">
  <form name="dimensions">
    <input type="number" min="3" ng-model="dimX" ng-change="reset()" required/>
    <input type="number" min="3" ng-model="dimY" ng-change="reset()" required/>
  </form>
  <ul>
    <li ng-repeat="sRow in state">
      {{sRow}}
    </li>
  </ul>

  <button ng-click="nextState()">NextState</button>

</div>
