<!DOCTYPE html>
<html ng-app="GoL">
<head>
  <title>Gameoflife</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='container'>
	<%= yield %>
</div>
</body>
</html>
